.card {
  background-color: #eaccc0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 15px;
  width: 90%;
  color: #0d0628;
  max-width: 800px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
}

.results-container {
  position: relative;
  margin-top: 75px;
}
